<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-textarea"
        version="0.0.2">

  <name>TextArea</name>
  <description>TextArea using native components for iOS</description>
  <license>MIT</license>

  <js-module src="www/TextArea.js" name="TextArea">
    <clobbers target="TextArea"/>
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="TextArea">
        <param name="ios-package" value="TextArea"/>
      </feature>
    </config-file>

    <header-file src="src/ios/TextArea.h" />
    <source-file src="src/ios/TextArea.m" />

  </platform>
        
</plugin>
